html {
  font-size: calc(70% + 0.4vmin);
  --color-white: #fff;
  --color-black: #1c1c21;
  --color-black-dark: #131316;
  --color-main: #69d1c5;
  --color-danger: #ff5154;
  --width-max: 25rem;
}

:root {
  background-color: var(--color-black-dark);
}

* {
  color: var(--color-white);
  font-family: sans-serif;
  font-size: 1rem;
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Sections */
body > main {
  max-width: var(--width-max);
  margin: 0 auto;
  padding: 6rem 0 10rem;
}

body > header,
body > footer {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background-color: var(--color-black);
}

body > header {
  top: 0;
  bottom: unset;
}

/* Headers */
h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.3rem;
}

/* Buttons */
button {
  --color: var(--color-main);
  transition: all 0.2s ease-out;
  background-color: var(--color);
  color: var(--color-black-dark);
  font-weight: bold;
  padding: 0.5rem;
  border: none;
  border-radius: 0.3rem;
  opacity: 0.8;
  margin: 1rem 0;
  filter: drop-shadow(0 0 0.2rem var(--color-black-dark));
}

button.danger {
  --color: var(--color-danger);
}

button:disabled {
  opacity: 0.2;
  filter: none;
}

button:hover:not(:disabled),
button:focus:not(:disabled) {
  cursor: pointer;
  opacity: 1;
  filter: drop-shadow(0 0 0.2rem var(--color));
}

/* Inputs */
input,
textarea {
  margin-top: 0.3rem;
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
}

input:valid,
textarea:valid {
  border-bottom: 1px solid var(--color-main);
}

label {
  font-weight: bold;
  margin-top: 0.5rem;
}
