/* Control */
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  background-color: var(--color-black);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  opacity: 0.9;
  border: transparent;
}

.leaflet-control-layers-expanded * {
  color: white !important;
}

.leaflet-control-layers-overlays label {
  margin-top: 0;
}

.leaflet-control-layers-list {
  user-select: none;
}

/* Zoom */
.leaflet-control-zoom .leaflet-bar .leaflet-control {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  opacity: 0.9;
}

.leaflet-touch .leaflet-bar a {
  overflow: hidden;
}

a.leaflet-control-zoom-in {
  border-bottom: 0px;
}

a.leaflet-control-zoom-in,
a.leaflet-control-zoom-out {
  background-color: var(--color-black);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

a.leaflet-control-zoom-in:focus,
a.leaflet-control-zoom-in:hover,
a.leaflet-control-zoom-out:focus,
a.leaflet-control-zoom-out:hover {
  background-color: var(--color-main);
}

a.leaflet-control-zoom-in[aria-disabled="true"],
a.leaflet-control-zoom-out[aria-disabled="true"] {
  background-color: var(--color-black);
  opacity: 0.3;
}

a.leaflet-control-zoom-in span,
a.leaflet-control-zoom-out span {
  color: var(--color-white) !important;
  font-size: 1.2rem;
}

/* POI labels */
.map-label {
  display: flex;
  align-items: center;
  opacity: 0.8;
  font-size: 0.9rem;
  color: white !important;
  background-color: rgba(19, 19, 22, 0.7);
  text-shadow: 0 0 2rem rgba(0, 0, 50, 20%);
  border: none;
  box-shadow: none;
  padding: 0.2rem 0.5rem;
  margin: 0;
}

.map-label img {
  height: 1.2rem;
  fill: white;
  margin-right: 0.5rem;
}

/* Key Markers */
.leaflet-marker-icon {
  filter: drop-shadow(0 0 0.5rem rgba(0, 0, 50, 20%));
}

/* Key Popups */
.leaflet-popup-content-wrapper {
  background-color: rgba(19, 19, 22, 0.7);
  padding: 0;
  border-radius: 0.2rem;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
  color: white !important;
  padding: 0.2rem 0.5rem;
  margin: 0;
  font-size: 0.9rem;
}

.leaflet-popup-tip-container {
  display: none;
}

.leaflet-popup-close-button {
  display: none;
}

/* Sector Labels */
.sector-label {
  color: white !important;
  opacity: 0.3 !important;
  font-size: 1.2rem;
  background-color: transparent;
  border: none;
  box-shadow: none;
}
